@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #415058;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}
