@tailwind components;

.header {
    @apply text-white p-4 w-full;
    background-color: #415058;
    height: 120px;
    position: fixed; /* Hace que el header esté fijo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.menu {
    width: 100%;

    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    z-index: 1000; /* Asegúrate de que el menú tenga un z-index alto */
}

.menu-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
@media (max-width: 609px) {
    .menu {
        width: 100%;
        top: 20%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media (min-width: 620px) {
    .menu {
        width: 30%;
        margin-top: 15%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media (min-width: 795px) {
    .menu {
        width: 30%;
        margin-top: 10%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media (min-width: 1001px) {
    .menu {
        width: 30%;
        margin-top: 7%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media (max-width: 546px) {
    .menu {
        width: 100%;
        margin-top: -10%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .header nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header nav .block {
        margin-top: 0;
    }
}

@media (max-width: 456px) {
    .menu {
        width: 100%;

        margin-top: 39%;
    }

    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .header nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .header nav .block {
        margin-top: 0;
    }
}

@media (min-width: 71px) and (max-width: 484px) {
    .menu {
        width: 100%;
        margin-top: -12%;
    }
    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}
/*
@media (min-width: 543px) and (max-width: 608px) {
    .menu {
        width: 100%;
        margin-top: -2%;
    }
    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

@media (min-width: 300px) and (max-width: 363px) {
    .menu {
        width: 100%;
        margin-top: -19%;
    }
    .close-button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
} */
